body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-image: linear-gradient(to right top, #0a0809, #0a0709, #09070a, #08060a, #06060b, #0b0c11, #0e1115, #111519, #171d21, #1c2629, #222e30, #293737);  justify-content: center;
  align-items: center;
 
}

.errorMessage {
  display: none;
  height: 100vh;
  font-size: 1rem;
  color:white;
  flex-direction: column;
  justify-content: center;
}

#converted_Currency {
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}
.items  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right top, #20191d, #221c21, #241f26, #25222b, #252530, #242833, #232b35, #222e37, #223037, #243337, #263537, #293737);  
  border: 0.5rem solid black;
  border-radius: 1rem;
  padding: 5rem;
}

.selectize-input {
  width: 10rem !important;
}

                 
.btn-grad {
   background-image: linear-gradient(to right, #000000 0%, #53346D  51%, #000000  100%);
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }



